---
// biome-ignore lint/correctness/noUnusedImports: Biome bug
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <div class="font-source-serif flex sm:items-center-safe justify-center fixed inset-0 overflow-auto">
    <div class="space-y-4 max-w-lg px-8 py-10">
      <h1 class="text-xl font-semibold font-source-serif">Oh hello,</h1>
      <p class="font-source-serif">
        I didn't see you there! Welcome to my internet website. As you can see it's a bit sparse at the moment. I've been doing a little spring cleaning and have come to the realization that the work displayed here is no longer representative of my skillset. So&nbsp;I've decided to put this site into limbo while I work on a better representation of said skillset. In the meantime, you can reach me at <strong class="work-it">moc.ebmalsirhc@olleh</strong> or take a look at my <a href="/resume">résumé</a>.
      </p>
      <p class="whitespace-pre font-source-serif">
        Sincerely,<br/>
        Chris
      </p>
    </div>
  </div>
</RootLayout>
